/*
 * Font Name: Montserrat
 * Source: https://github.com/JulietaUla/Montserrat
 * Author: Julieta Ulanovsky (julieta.ulanovsky@gmail.com), Jacques Le Bailly (fonthausen@baronvonfonthausen.com),
 *         Juan Pablo del Peral (juandelperal@gmail.com), Sol Matas (solmatas@gmail.com)
 * Contributors: https://github.com/JulietaUla/Montserrat/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/
/*
 * Font Name: Fraunces
 * Source: https://github.com/undercasetype/Fraunces
 * Author: Undercase Type (info@undercase.xyz), Phaedra Charles (phaedra@undercase.xyz), Flavia Zimbardi (flaviazim@gmail.com)
 * Contributors: https://github.com/undercasetype/Fraunces/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --color-white: oklch(100% 0.00011 271.152);
  --color-black: oklch(25.286% 0.0183 252);
  --color-grey: oklch(55.533% 0.0365 273.676);
  --color-green-500: oklch(54.804% 0.08028 166.993);

  --font-montserrat: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", serif;

  --fs-12: calc(12 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);

  --fw-bold: 700;
  --fw-medium: 500;

  --letter-spacing-5pc: calc(5 * 0.01em);
  --letter-spacing-42pc: calc(42 * 0.01em);

  --line-height-sm: 22;
  --line-height-md: 32;

  --spacing-10: calc(10 / 16 * 1rem);
  --spacing-12: calc(12 / 16 * 1rem);
  --spacing-14: calc(14 / 16 * 1rem);
  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-22: calc(22 / 16 * 1rem);
  --spacing-24: calc(24 / 16 * 1rem);
  --spacing-30: calc(30 / 16 * 1rem);
  --spacing-32: calc(32 / 16 * 1rem);

  --c-text-title: var(--color-black);
  --c-text-description: var(--color-grey);
  --c-text-category: var(--color-grey);
  --c-text-price-primary: var(--color-green-500);
  --c-text-price-secondary: var(--color-grey);
  --c-text-button: var(--color-white);

  --ff-primary: var(--font-fraunces);
  --ff-secondary: var(--font-montserrat);

  --fs-title-unitless: 32;
  --fs-description-unitless: 14;
  --fs-text-button-unitless: 14;

  --fs-title: var(--fs-32);
  --fs-description: var(--fs-14);
  --fs-category: var(--fs-12);
  --fs-price-primary: var(--fs-32);
  --fs-price-secondary: var(--fs-12);
  --fs-text-button: var(--fs-14);

  --fw-title: var(--fw-bold);
  --fw-description: var(--fw-medium);
  --fw-category: var(--fw-medium);
  --fw-price-primary: var(--fw-bold);
  --fw-price-secondary: var(--fw-medium);
  --fw-text-button: var(--fw-bold);

  --ls-category: var(--letter-spacing-42pc);
  --ls-price-secondary: var(--letter-spacing-5pc);

  /* 
    Dividing two values with matching units is valid. For example, calc(32px / 32px) should return a unitless value of 1.
    However, it does not works in FireFox browser (tested with version 153.0.4 Windows 11), it works on both Microsoft Edge
    and Google Chrome browsers.
  */
  --lh-title: calc(var(--line-height-md) / var(--fs-title-unitless));
  --lh-description: calc(
    var(--line-height-sm) / var(--fs-description-unitless)
  );

  --gap-price-group: var(--spacing-16);
  --gap-button-icon: var(--spacing-10);

  --pd-content-top: var(--spacing-30);
  --pd-content-left: var(--spacing-32);
  --pd-content-right: var(--spacing-32);
  --pd-button-top-btm: var(--spacing-14);

  --m-product-card: var(--spacing-12);
  --m-category-btm: var(--spacing-22);
  --m-title-btm: var(--spacing-24);
  --m-description-btm: var(--spacing-16);
  --m-button-top: var(--spacing-16);
  --m-button-btm: var(--spacing-32);
  --m-button-left: var(--spacing-32);
  --m-button-right: var(--spacing-32);

  --width-icon: 15;
  --height-icon: 16;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-secondary);
  min-height: 100vh;
  min-height: 100dvh;
  min-block-size: 100dvb;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  margin: var(--m-product-card);
}

.product__content {
  padding-block: var(--pd-content-top) 0;
  padding-inline: var(--pd-content-left) var(--pd-content-right);
}

.product__category {
  font-size: var(--fs-category);
  font-weight: var(--fw-category);
  letter-spacing: var(--ls-category);
  color: var(--c-text-category);
  margin-block-end: var(--m-category-btm);
}

.product__category--uppercase {
  text-transform: uppercase;
}

.product__title {
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  font-weight: var(--fw-title);
  line-height: var(--lh-title);
  color: var(--c-text-title);
  margin-block-end: var(--m-title-btm);
}

.product__description {
  font-size: var(--fs-description);
  font-weight: var(--fw-description);
  line-height: var(--lh-description);
  color: var(--c-text-description);
  margin-block-end: var(--m-description-btm);
}

.product__price-group {
  display: flex;
  align-items: center;
  gap: var(--gap-price-group);
}

.product__discounted-price {
  font-family: var(--ff-primary);
  font-size: var(--fs-price-primary);
  font-weight: var(--fw-price-primary);
  color: var(--c-text-price-primary);
}

.product__original-price {
  font-size: var(--fs-price-secondary);
  font-weight: var(--fw-price-secondary);
  letter-spacing: var(--ls-price-secondary);
  color: var(--c-text-price-secondary);
}

.product__original-price--strike {
  text-decoration: line-through;
}

.button {
  font-size: var(--fs-text-button);
  font-weight: var(--fw-text-button);
  color: var(--c-text-button);
  margin-block: var(--m-button-top) var(--m-button-btm);
  margin-inline: var(--m-button-left) var(--m-button-right);
  inline-size: calc(100% - (var(--m-button-left) + var(--m-button-right)));
  padding-block: var(--pd-button-top-btm);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-button-icon);
}

.button::before {
  content: "";
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* Remove the width and height attributes in the svg icon and add viewBox="0 0 15 16" attribute to make the icon responsive to font size,  */
  inline-size: calc((var(--width-icon) / var(--fs-text-button-unitless)) * 1em);
  block-size: calc((var(--height-icon) / var(--fs-text-button-unitless)) * 1em);
}
